body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

header{
    color: #fff !important;
    background-color: #006b85 !important;
    border: 1px solid transparent;
}

footer{
    color: #000 !important;
    background-color: #ccc;
    position:absolute;
    bottom:0;
    width:100%;
}

.container-filter {
    width: 85%;
    text-align: center;
}

h3{
    background-color:#006b85;
    color: white;
}

.not-found{
    text-align: center;
}

.register{
    text-align: center;

}

.topnav {
  overflow: hidden;
  background-color: white;
}

.topnav a {
  float: left;
  color: #006b85;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #006b85;
  color: white;
}

.topnav a.active {
  background-color: #006b85;
  color: white;
}

button{
    border-radius: 5px;
    border: 0.1px solid #1f2020;
 }

 .deleteButton {
    background-color: red;
    color: white; 
}

.save-button{
    background-color: rgb(43, 172, 64);
    color: white; 
}

.filtrar{
    background-color: #006b85;
    color: white; 
}

h4 {
    background-color: rgb(43, 172, 64);
    color: white; 
    text-align: center;
}

.delete{
    background-color: red;
    color: white; 
}