body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

header{
    color: #fff !important;
    background-color: #006b85 !important;
    border: 1px solid transparent;
}

footer{
    color: #000 !important;
    background-color: #ccc;
    position:absolute;
    bottom:0;
    width:100%;
}
