body {
    font-family: 'Roboto', sans-serif !important;
    margin: 0;
}

header{
    color: #fff !important;
    background-color: #006b85 !important;
    border: 1px solid transparent;
}

footer{
    color: #000 !important;
    background-color: #ccc;
    position:absolute;
    bottom:0;
    width:100%;
}

.container-filter {
    width: 85%;
    text-align: center;
}

h3{
    background-color:#006b85;
    color: white;
}

.not-found{
    text-align: center;
}

.register{
    text-align: center;

}
